body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
}

ul {
  list-style: none;
}

/* шапка */
/* лого */
.logo {
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-size: 26px;
  text-decoration: none;
}

.web {
  color: #2196f3;
}

/* сайти */
.sati-bar {
  size: 14px;
  color: #212121;
}

.sate {
  text-decoration: none;
  color: black;
}

.sate-bar .sate:hover,
.sate-bar .sate:focus {
  color: #2196f3;
}

/* контакты */
.contact {
  size: 14px;
  text-decoration: none;
  color: black;
}

.contact:hover,
.contact:focus {
  color: #2196f3;
}